<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <title>{% block title %}{% endblock %}</title>
		{% block stylesheet %}
		    {% stylesheets '@SphaxSpriteHmiBundle/Resources/public/css/*' filter='cssrewrite' %}
		        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
		    {% endstylesheets %}
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<header>
            <h1>
                <a href="{{ path('indexSprite') }}">Sphax Sprite<span>Manage your sprites</span></a>
            </h1>
        </header>
    		
		<div class="row-fluid">
		    <div class="span2">
                <div class="sideBar">
                    {% block sidebar %}{% endblock %}
                </div>
		    </div>
		    <div class="span9">
              {% block content %}{% endblock %}
            </div>
            <div class="span1">
		      {% block sidebarDetail %}{% endblock %}
		    </div>
		</div>

		{% block javascript %}
            <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		    {% javascripts '@SphaxSpriteHmiBundle/Resources/public/js/*' %}
		        <script src="{{ asset_url }}"></script>
		    {% endjavascripts %}
		{% endblock %}    
    </body>
</html>